@use 'color';

html,	body {
	color: color.$color-base;
	font-size: 16px;
}
ul,li,p,div,form,h1,h2,h3,h4,h5,header,footer,section,aside,article,nav{
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	color:inherit !important;
	&:hover,&:active{
		color:inherit;
		text-decoration: none;
	}
	
}
header.header-wrapper {
	background-color: color.$color-base;
	color: color.$color-acc;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.logo {
		padding: 1em;
	}
	.navi-wrapper {
		display: flex;
		align-items: center;
		.navi {
			padding: 1em;
			&.active {
				background-color: darken(color.$color-acc, 30%);
			}
		}
	}
}
.title-bar {
	margin: 1em auto;
	small {
		color: lighten(color.$color-base, 20%) ;
		margin-left: 2em;

	}
}