@use 'color';

form[name="loginForm"] {
	width: 90%;
	max-width: 500px;
	padding: 2em 2em 1em 2em;
	margin:2em auto;
	border: 1px solid lighten(color.$color-base, 50%);
	border-radius: 7px;
	td {
		vertical-align: middle;
	}
	.title {
		font-weight: bold;
		padding-left: 1em;

	}
	.btn-kakao {
		transition:all 0.2s; 
		&:hover {
			filter: brightness(0.9);

		}
	}
}