.table tr th:nth-child(1) {
  width: 10%;
  min-width: 60px;
}
.table tr th:nth-child(2) {
  width: 12%;
  min-width: 100px;
}
.table tr th:nth-child(3) {
  width: 12%;
  min-width: 100px;
}
.table tr th:nth-child(4) {
  width: 14%;
  min-width: 120px;
}
.table tr th:nth-child(5) {
  width: 30%;
  min-width: 180px;
}
@media screen and (max-width: 767px) {
  .table tr th:nth-child(1), .table tr th:nth-child(3), .table tr th:nth-child(4) {
    display: none;
  }
  .table tr td:nth-child(1), .table tr td:nth-child(3), .table tr td:nth-child(4) {
    display: none;
  }
}
.table tr span.icon {
  display: inline-block;
  margin-left: 0.25em;
  border-radius: 4px;
  font-size: 0.875em;
  padding: 0.25em;
  background-color: #f0d749;
  color: #222;
}

.divide {
  width: 1px;
  height: 30px;
  background-color: #666;
}