.view-table td.title {
  width: 20%;
  max-width: 120px;
  font-weight: bold;
  color: #151515;
  border-right: 1px solid #eee;
}
.view-table td.content {
  font-size: 1.125em;
}

.nextprev {
  border-bottom: 1px solid #eee;
}
.nextprev .missing {
  font-size: 0.925em;
  padding-left: 0.75em;
}