.table td {
  padding-bottom: 0.25em;
}
.table .title {
  width: 20%;
  min-width: 120px;
  padding-left: 1em;
  font-weight: bold;
}
.table input {
  max-width: 200px;
}
.table input[name=usermail] {
  max-width: 600px;
}
.table .valid {
  padding-top: 0.25em;
  color: #ca4852;
}
.table .valid.active {
  color: #4454ba;
}