extends ../layout/lo-default.pug

block content
	form(name='loginForm' method='post' action='/user/logon' onsubmit='return onSubmit(this)')
		table.table.tb-login
			tbody
				tr
					td.title 아이디
					td.content 
						input.form-control(type='text' name='userid' placeholder='아이디')
				tr.border-bottom
					td.title 비밀번호
					td.content 
						input.form-control(type='password' name='userpw' placeholder='비밀번호')
		.text-right.pb-3
			button.btn.btn-info(onclick=`location.href='/user/join';` )
				i.fa.fa-user.mr-3
				span 회원가입
			button.btn.btn-primary.mr-3
				i.fa.fa-key.mr-3
				span 로그인
	.text-right.py-2.border-top
		button.btn.btn-kakao(onclick=`location.href='/user/login/kakao';`)
			img(src='/img/kakao_login.png')

			
				