doctype html
html(lang="ko")
	head
		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		include ../include/inc-style.pug
		link(rel="stylesheet" href=`/css/${file ? file : 'index'}.css`)
		include ../include/inc-script.pug
	body
		header.header-wrapper
			a.logo(href='/') EEO
			include ../include/inc-navi.pug
		.container
			include ../include/inc-title-bar.pug
			block content
		script(src=`/js/${file ? file : 'index'}.js`)
		